.card-wrapper {
  margin: 20px;
  padding: 10px 40px;
  border: 1px solid rgba(184, 196, 194, 0.25);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: transform 300ms ease;
  color: rgb(106, 106, 106);
  text-align: left;
  cursor:pointer;
  width: 20%;
  text-decoration: none;
}

.card-wrapper:hover {
  border-color: rgb(238, 238, 238);
  transform: translate3d(0, -5px, 0);
}

.card-item {
  padding: 10px;
}

.card-title {
  color: #fff;
  font-weight: 300;
}

.card-description {
  color: #fff;
  font-weight: 300;
}