.search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: inline-flex;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  width: 200%;
}

.search-input {
  border: 0;
  padding: 5px;
  flex: 1;
}

.search-input::-webkit-search-cancel-button {
  color: #eee;
}

.search-input:focus {
  outline: none;
}

.autocomplete {
  width: 40%;
  max-height: 200px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  list-style-type: none;
  margin: 0;
  border: 0;
  border-radius: 0 0 5px 5px;
  padding: 10px 0;
  overflow: auto;
  position: absolute;
  top: 60px;
}

ul.search-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.list-results {
  text-align: left;
  padding: 5px;
  cursor: default;
}

li.list-results button {
  padding: 10px 5px;
  border: none;
  width: 100%;
  background: none;
  text-align: left;
}

li.list-results:hover {
  background: #eee;
}

@media only screen and (min-width : 150px) and (max-width : 780px) {
  .search-container {
    width: 95%;
  }
  .search-box {
    width: 95%;
    margin: 0 auto;
  }
  .autocomplete {
    width: 82%;
  }
}